.about-us-btn {
    background-color: $btn-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: 2px !important;
    padding: 5px;
    margin-top: 2rem;
}
.about-us-btn:hover {
    background: darken(#3E7580, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    text-decoration: none;
    transition: all 250ms linear;
}

.aboutUs{
    text-align: center;
}

.shop{
    margin-top: 2rem;
}

.candy-shop {
    background-color: $background-color;
}

$medium: 992px;
$large: 1400px;


//Tablet
@media screen and (max-width: $medium) and (min-width: 600px){
    .about-us-page{
        margin: 1em 5em !important;
    }
    .candy-shop {
        width: 75%;
    };
}
// Desktop
@media screen and (max-width: $large) and (min-width: 993px){
    .about-us-page{
        margin: 1em 5em !important;
    }
    .candy-shop {
        width: 75%;
    };
}