/* style for MovieBookingComponent */
.accordion-item {
  margin: auto, auto;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0 !important;
  border-radius: 3px !important;
}

form {
  display: flex;
  align-items: center;
  color: white;
}

input.form-control {
  width: 100%;
}

.form-text {
  color: white;
}

.restart-button {
  position: absolute;
  right: 3.8em;
  background-color: $btn-color;
  border: 1px solid $border-color;
  color: $text-color;
  padding: 0.4em 0.6em;
  
  font-size: 0.9rem;
}