.send-form-btn {
  background-color: #3e7580;
  border: none;
}

.contactPageText{
text-align: center;
}



// $medium: 992px;
// $large: 1400px;


// //Tablet
// @media screen and (max-width: $medium) and (min-width: 600px){
//     .contact-page{
//         margin: 1em 5em !important;
//     }
//     .contact-form {
//         width: 75%;
//     };
// }
// // Desktop
// @media screen and (max-width: $large) and (min-width: 993px){
//     .contact-page{
//         margin: 1em 5em !important;
//     }
//     .contact-form {
//         width: 75%;
//     };
// }