* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #EDEDED;
    background-color: #1D1B1A;
}

.important {
    background-color: #3E7580;
}

.container-fluid {
    padding: 10px;
    margin-bottom: 150px;
}

.nav-btn {
    border: none;
    border-radius: 2px;
    color: white;
    padding: 0.5em 1.5em;
}