.bg-body-tertiary {
  background-color: $background-color !important;
  position: sticky;
  color: $text-color;

}

.dropdown-menu {
  background-color: $background-color !important;
  border: none;
  text-align: center;
  
}

#basic-nav-dropdown,
.dropdown-item {
  color: $text-color;
}

$small: 450px;
$medium: 900px;

.company-logo {
  margin-top: 30px;
  width: 500px;

  @media screen and (max-width: $medium) {
    width: 400px;
  }

  @media screen and (max-width: $small) {
    width: 300px;
  }
}

@media screen and (max-width: $medium) {
  .dropdown-menu .dropdown-item {
    font-size: 25px;
  }
    .dropdown-menu .dropdown-item svg {
      width: 25px; 
      height: 25px;
    }
}

@media screen and (max-width: $small) {
  .dropdown-menu .dropdown-item {
    font-size: 30px;
  }
    .dropdown-menu .dropdown-item svg {
      width: 30px; 
      height: 30px;
    }
}