@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #1D1B1A;
$primary-textcolor: #C0C0C0;
$primary-btn-color: #2B2827;

.navbar-body { 
    background-color: $primary-color,
}




#dropdown-basic-button{
  background-color: $primary-btn-color;
  border: none
}



//Screensizes (desktop, phone)
$small: 300px;
$medium: 900px;

.smth {
  //some CSS
  @media screen and (max-width: $small) {
    //do Smth
  }
  @media screen and (min-width: $medium) {
    //do Smth
  }
}
