.cancel-btn {
  background-color: #1d1b1a;
  border-color: #c0c0c0;
}

.login-btn,
.register-btn {
  background-color: #3e7580;
  border: none;
}

.btn {
  color: #ededed;
  padding: 0.4em 1em;
  width: 8em;
  font-size: 0.9rem;
}

.input-icon-container {
  position: relative;
  margin-bottom: 10px;
}

.container-fluid {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3b3837;
}

.form-control.with-icon {
  padding-left: 30px;
}

.custom-hover-1:hover {
  background-color: transparent !important;
  /* Add other styles if needed, like changing the text color, border, etc. */
}

.custom-hover-2:hover {
  color: black;
  background-color: transparent !important;
  border: 1px solid black;
}

.justify-content-center.col{
  width: 20em;
 
}
.col{
  width: 20em;
}

