.cancel-btn {
  background-color: #1d1b1a;
  border-color: #c0c0c0;
}

.login-btn,
.register-btn {
  background-color: #3e7580;
  border: none;
}

.btn {
  color: #ededed;
  padding: 0.4em 1em;
  width: 8em;
  font-size: 0.9rem;
}

.input-icon-container {
  position: relative;
  margin-bottom: 10px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3b3837;
}

.form-control.with-icon {
  padding-left: 30px;
}
