.theater-container {
    display: flex;
    flex-direction: column;
}

.flex-item-right {
    display: flex;
    justify-content: end;
}

.theatre-screen {
    background-color: #fff;
    width: 80%;
    aspect-ratio: 5 / 1;
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.7);
    transform: perspective(8px) rotateX(-1deg);
    margin: 2vw auto 5vw;
    
}

.theatre-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theatre-row > div {
    width: 9%;
    aspect-ratio: 1 / 1;
    align-self: center;
    border-radius: 50% 50% 0 0;
    border: 3px solid rgba(0, 0, 0, .4);
    margin-bottom: 10px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.available-seat {
    background-color: $text-color;
    cursor: pointer;
}

.selected-seat {
    background-color: $important-color;
}

.occupied-seat {
    background-color: $cards-color;
    pointer-events: none;
}

.hovered-seat {
    background-color: $important-color;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}