// button:nth-child(1){
//   background-color:rgb(107, 27, 27);
// }
body {
  color: #EDEDED;
  background-color: #1D1B1A;
}

.nav-btn {
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0.5em 1.5em;
}

.important {
  background-color: #3E7580;
}

.card {
  color: white;
  background-color: #2B2827;
  width: 177px;
  padding: .5em;
}

.movie-images {
  width: 100%;
  object-fit: contain;
}