/* Style for TicketWithPriceComponent */
.price-component {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.white-line {
  border: 1px solid #fff;
  width: 100%;
}
/* Style for the total price */
.total-price {
  margin-top: 0.8 rem;
  align-self: self-end;
  font-size: 1.2rem;
}
.total-price .total-value {
  font-weight: bold;
}
