$background-color: #1D1B1A;
$text-color: #EDEDED;
$border-color: #C0C0C0;
$btn-color: #2B2827;
$cards-color: #2B2827;
$important-color: #3E7580;
$primary-detail-color: #FFD700;
$secondary-detail-color: #F9D3B4;
$small: 400px;
$medium: 900px;